.container {
	min-height: calc(100vh-50px);
	padding: 70px;
	width: auto !important;
}
@media screen and (max-width: 960px) {
	.container {
		padding-top: 10px;
	}
}
@media (max-width: 1415px) and (min-width: 960px) {
	.container {
		margin-left: 60px !important;
	}
}
@media screen and (max-width: 350px) {
	.header {
		flex-direction: column !important;
		align-items: flex-start !important;
		margin-bottom: 10px;
	}
}
